<h1>Calculator</h1>
<form #calculator="ngForm" (ngSubmit)="submit()">
  <input required name="a" type="number" [(ngModel)]="calculatorModel.a">
  <select name="operator" [(ngModel)]="calculatorModel.operator">
    <option name="subtract">-</option>
    <option name="add">+</option>
    <option name="multiply">*</option>
    <option name="divide">/</option>
  </select>
  <input required name="b" type="number" [(ngModel)]="calculatorModel.b">
  <button type="submit">Calculate</button>
</form>

<div class="container">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>a</th>
      <th>operation</th>
      <th>b</th>
      <th>result</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let calculation of calculations">
      <td>{{calculation.a}}</td>
      <td>{{calculation.operator}}</td>
      <td>{{calculation.b}}</td>
      <td>{{calculation.result}}</td>
    </tr>
    </tbody>
  </table>
</div>
